{% extends "base.html" %}
{% comment %}

    Copyright 2014-2015 GoodCrypto
    Last modified: 2015-04-20
    
{% endcomment %}
{% load i18n %}

{% block titlevar %}{% trans 'Integrate Your Mail Server' %}{% endblock %}

{% block contentpane %}

    <h3 class="headline">
        {% trans 'Integrate your mail server' %}
    </h3>  

    <ol>
        <li>
            <a href="https://goodcrypto.com/qna/knowledge-base/configure-mail-server/">{% trans 'Integrate your existing mail server.' %}</a>
            {% trans 'Postfix, sendmail, etc.' %}
        </li>
        <li>
            {% trans 'Configure your SMTP/IMAP/POP servers to default to TLS and to require your users to connect via TLS.' %}
        </li>
        <li>
            {% trans 'Configure your users to connect via TLS for mail.' %}
        </li>
        <li>
            {% trans 'Encourage others to use GoodCrypto or PGP so exchanged messages are private and secure.' %}
        </li>
        
        <li>
            {% blocktrans %}
            Whenever GoodCrypto receives a new key from another GoodCrypto private server, 
            the key is automatically imported. 
            GoodCrypto sends mail to the user reminding them to 
            <a href="/mail/view_fingerprint/">verify the fingerprint</a>.
            
            <p>
            If some of your contacts use PGP without GoodCrypto,
            sign into your GoodCrypto private server and
            <a href="/mail/import_key/">import</a> their public keys.
            </p>
            {% endblocktrans %}
        </li>
    </ol>
    
    <p class="dropcap">
    {% trans 'Back up to the previous page to finish the GoodCrypto private server integration.' %}
    </p>

{% endblock contentpane %}

