{% extends "mail/history.html" %}
{% comment %}

    Copyright 2015 GoodCrypto
    Last modified: 2015-07-02
    
{% endcomment %}
{% load i18n custom %}

{% block titlevar %}Messages you received privately{% endblock %}

{% block main_headline %}
    Messages you received privately
{% endblock main_headline %}
    
{% block results_header %}
    <th scope="col">
       <div class="text">
            <a href="#From">From</a>
        </div>
       <div class="clear"></div>
    </th>
    <th scope="col">
       <div class="text">
            <a href="#Date">Date</a>
        </div>
       <div class="clear"></div>
    </th>
    <th scope="col">
       <div class="text">
            <a href="#Subject">Subject</a>
        </div>
       <div class="clear"></div>
    </th>
    <th scope="col">
       <div class="text">
            <a href="#Protection">Protection</a>
        </div>
       <div class="clear"></div>
    </th>
    <th scope="col">
       <div class="text">
            <a href="#VerificationCode">Verification code</a>
        </div>
       <div class="clear"></div>
    </th>
{% endblock results_header %}

{% block no_results %}
    {% blocktrans %}Your GoodCrypto private server has not decrypted any messages for you, yet.{% endblocktrans %}
{% endblock no_results %}

