{% extends "mail/history.html" %}
{% comment %}

    Copyright 2015-2016 GoodCrypto
    Last modified: 2016-02-04

{% endcomment %}
{% load i18n custom %}

{% block titlevar %}Messages you received with added security{% endblock %}

{% block main_headline %}
    Messages you received with added security
{% endblock main_headline %}

                            {% block email_header %}
                                <th scope="col">
                                   <div class="text">
                                        <a href="#From">From</a>
                                    </div>
                                   <div class="clear"></div>
                                </th>
                            {% endblock email_header %}
                            {% block verify_header %}
                            <th scope="col">
                               <div class="text">
                                    <a href="#VerificationCode">Verification code</a>
                                </div>
                               <div class="clear"></div>
                            </th>
                            {% endblock verify_header %}

                                            {% block verification_link %}
                                            <a href="{{ result.verification_link }}">{{ result.record.verification_code|safe }}</a>
                                            {% endblock verification_link %}
{% block no_results %}
    {% blocktrans %}Your GoodCrypto private server has not decrypted nor verified any signed messages for you, yet.{% endblocktrans %}
{% endblock no_results %}

