{% extends "base.html" %}
{% comment %}
    Copyright 2014-2015 GoodCrypto
    Last modified: 2015-02-22
{% endcomment %}
{% load i18n bootstrap custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="fingerprint">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="View the fingerprint for a user.">
  {% endblock meta_description %}

  {% block titlevar %}{% trans 'Select User to View Fingerprint' %}{% endblock %}
  
{% block contentpane %}

    <div class="row">
        <h2>{% trans 'Select User to View Fingerprint' %}</h2> 
    </div>
    
    <div class="row">&nbsp;</div>
    
    <form method="POST" action="/mail/view_fingerprint/" class="form-horizontal" role="form">{% csrf_token %}
        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class=" control-label col-sm-2 col-lg-2 ">&nbsp;</div>
            <div class=" col-sm-10 col-lg-10 ">
                <input class="btn btn-primary" type="submit" value="{% trans 'View' %}" name="submit"> <font color="red">{{ error_message }}</font>
            </div>
        </div>
    </form>
{% endblock contentpane %}

