{% extends "mail/message.html" %}
{% comment %}

    Copyright 2015-2016 GoodCrypto
    Last modified: 2016-10-30

{% endcomment %}
{% load i18n custom %}

                            {% block sig_headers %}
                            <th scope="col">
                               <div class="text">
                                    <center>
                                        <abbr title="Digitally signed">
                                            <a href="#Signed">Signed</a>
                                        </abbr>
                                    </center>
                                </div>
                               <div class="clear"></div>
                            </th>
                            {% endblock sig_headers %}

                            {% block signatures %}
                                <td scope="col">
                                   <center>
                                    {% if result.private_signed or result.clear_signed or result.record.dkim_signed %}
                                        {% if result.private_signed or result.clear_signed or result.record.dkim_sig_verified %}
                                            <abbr title="Digital signature verified">
                                                <img alt="Yes" src="/static/images/general/check_mark_small.png">
                                            </abbr>
                                        {% else %}
                                            <abbr title="Digital signature NOT verified">
                                                <img alt="Yes" src="/static/images/general/error_mark_small.png">
                                            </abbr>
                                        {% endif %}
                                    {% else %}
                                         <abbr title="NOT digitally signed">
                                               <img alt="No" src="/static/images/general/error_mark_small.png">
                                           </abbr>
                                    {% endif %}
                                    </center>
                                </td>
                            {% endblock signatures %}
                            {% block verification %}
                                    <td scope="col">
                                       <div class="text">
                                           <abbr title="Click to see more details about message's protection.">
                                            {% block verification_link %}
                                            {% endblock verification_link %}
                                            </abbr>
                                        </div>
                                    </td>
                            {% endblock verification %}

