{% extends "base.html" %}
{% comment %}

    Copyright 2014-2016 GoodCrypto
    Last modified: 2016-02-04

{% endcomment %}
{% load i18n custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="privacy, encryption, email">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="GoodCrypto protect everyone in your group.">
  {% endblock meta_description %}

  {% block titlevar %}Mail{% endblock %}

{% block contentpane %}

    {% include "snippets/secure_button.html" %}

    <div class="row">
        <h3>Mail
        {% if domain %}
        for {{ domain }}
        {% endif %}
        </h3>
    </div>

    <div class="col-md-12 col-xm-6">
        {% if not mta %}
            <div class="row">
                <div class="row">&nbsp;</div>
                <div class="row">
                    {% blocktrans %}
                    <font color="red">IMPORTANT:</font> You must set the MTA address in the
                    <a href="/admin/mail/options/">Mail server options</a>
                    before mail for {{ domain }} can be protected.
                    {% endblocktrans %}
                </div>
            </div>
        {% endif %}

        <div class="row">&nbsp;</div>
        <div class="table-responsive btn-group">
            <table class="table table-responsive">
                <tr>
                    <th>
                        <p>&nbsp;</p>
                        {% trans 'Private messages' %}
                        <p>&nbsp;</p>
                    </th>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/verify_crypted/" title="{% trans 'Verify a message was encrypted or decrypted by your GoodCrypto private server. You must be signed in.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Verify' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/show_decrypted_history/" title="{% trans 'Show summary of messages you received with added security. You must be signed in.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Received' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/show_encrypted_history/" title="{% trans 'Show summary of messages you sent with added security. You must be signed in.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Sent' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/show_protection/" title="{% trans 'Show options that protect your messages. You must be signed in.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Protection' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <p>&nbsp;</p>
                        {% trans 'Keys' %}
                        <p>&nbsp;</p>
                    </th>
                    <td>
                        <p>&nbsp;</p>
                        {% if fingerprint_login_req %}
                            <a href="/mail/view_fingerprint/" title="{% trans 'View the fingerprint for the key of a contact. You must be signed in.' %}">
                        {% else %}
                            <a href="/mail/view_fingerprint/" title="{% trans 'View the fingerprint for the key of a contact.' %}">
                        {% endif %}
                            <button type="button" class="btn btn-primary btn-block">{% trans 'View ID' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        {% if fingerprint_login_req %}
                            <a href="/mail/export_key/" title="{% trans 'Get the public key for a user. You must be signed in.' %}">
                        {% else %}
                            <a href="/mail/export_key/" title="{% trans 'Get the public key for a user.' %}">
                        {% endif %}
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Export' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/import_key/" title="{% trans 'Import a public key for a contact. You must be signed in.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Import' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/show_metadata_domains/" title="{% trans 'Show which domains are ready to protect metadata. You must be signed in.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Metadata' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                {% if user.is_authenticated and user.is_superuser %}
                <tr>
                    <th>
                        <p>&nbsp;</p>
                        {% trans 'Administrator' %}
                        <p>&nbsp;</p>
                    </th>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/admin/mail/options/" title="{% trans 'Manage options for encrypting/decrypting mail.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Options' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/admin/mail/contact/" title="{% trans 'Show the contacts who have keys. Manually create private keys for users.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Contacts' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/admin/auth/user/" title="{% trans 'Manage users who can check on which messages were exchanged privately.' %}">
                            <button type="button" class="btn btn-primary btn-block">{% trans 'Users' %}</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                    <td>
                        <p>&nbsp;</p>
                        <a href="/mail/prep_postfix/" title="{% trans 'Generate the changes you need to make to your mail server to work with your GoodCrypto private server.' %}">
                            <button type="button" class="btn btn-primary btn-block">&nbsp;&nbsp;{% trans 'Postfix changes' %}&nbsp;&nbsp;</button>
                        </a>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                {% endif %}
                {# blank row to get all the buttons to line up #}
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                    <td>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        {% if mta %}
            {% if mta == '127.0.0.1' or mta == 'localhost' %}
                <div class="row">&nbsp;</div>
                <div class="row">
                    {% blocktrans %}
                    Warning: Your MTA is configured for the local machine at ({{ mta }}).
                    We strongly recommend that you use a different computer for your MTA
                    and your GoodCrypto private server.
                    You can change the MTA address in the  <a href="/admin/mail/options/">Mail server options</a>.
                    {% endblocktrans %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock contentpane %}

