{% extends "base.html" %}
{% comment %}
    Copyright 2016 GoodCrypto
    Last modified: 2016-11-06
{% endcomment %}
{% load i18n custom bootstrap3 %}

  {% block meta_keywords %}
  <meta name="Keywords" content="import, public key">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="Import a public key for a user.">
  {% endblock meta_description %}

  {% block titlevar %}{% trans 'Import Key' %}{% endblock %}

{% block contentpane %}

    <div class="row">
        <h2>{% trans 'Import Key' %}</h2>
    </div>

    <div class="row">&nbsp;</div>

<div id="tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#import_file_tab/" data-toggle="tab">
                {% trans 'From file' %}
            </a>
        </li>
        <li role="presentation">
            <a href="/mail/import_key_from_keyserver/" data-toggle="tab">
                {% trans 'From keyserver' %}
            </a>
        </li>
    </ul>
</div>


<form enctype="multipart/form-data" method="POST" action="/mail/import_key_from_file/" id="import_file_form" class="form-horizontal" role="form">{% csrf_token %}

    <div class="row">
        <div class="form-group">
            <div class=" control-label col-sm-1 col-lg-1 ">&nbsp;</div>
            <div class=" col-sm-11 col-lg-11 ">
            {% bootstrap_form form_from_file %}
            </div>
        </div>
    </div>       
    <div class="row">
        <div class="form-group">
            <div class=" control-label col-sm-1 col-lg-1 ">&nbsp;</div>
            <div class=" col-sm-11 col-lg-11 ">
                <input class="btn btn-primary" type="submit" value="{% trans 'Import' %}" name="submit"> <font color="red">{{ error_message }}</font>
            </div>
        </div>
    </div>
</form>
{% endblock contentpane %}



