{% extends "base.html" %}
{% comment %}
    Copyright 2014-2015 GoodCrypto
    Last modified: 2015-02-22
{% endcomment %}
{% load i18n bootstrap custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="import, public key">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="Import a public key for a user.">
  {% endblock meta_description %}

  {% block titlevar %}{% trans 'Import Public Key' %}{% endblock %}
  
{% block contentpane %}

    <div class="row">
        <h2>{% trans 'Import Public Key' %}</h2> 
    </div>
    
    <div class="row">&nbsp;</div>
    
    <form enctype="multipart/form-data" method="POST" action="/mail/import_key/" id="import_form" class="form-horizontal" role="form">{% csrf_token %}

        {{ form|bootstrap_horizontal }}
        <div class="form-group">
            <div class=" control-label col-sm-2 col-lg-2 ">&nbsp;</div>
            <div class=" col-sm-10 col-lg-10 ">
                <input class="btn btn-primary" type="submit" value="{% trans 'Import' %}" name="import"> <font color="red">{{ error_message }}</font>
            </div>
        </div>
    </form>
{% endblock contentpane %}

