{% extends "base.html" %}
{% comment %}

    Copyright 2016 GoodCrypto
    Last modified: 2016-02-14

{% endcomment %}
{% load i18n bootstrap custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="mail server, mta">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="How to configure your mail server to work with your GoodCrypto private server.">
  {% endblock meta_description %}

  {% block titlevar %}Generate Configuration Updates{% endblock %}

{% block contentpane %}
<h1 class="headline">
    {% trans 'Generate Configuration Updates' %}
</h1>

<div id="tabs">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#tabs-1" role="tab" aria-control="tab1" data-toggle="tab">
                {% trans 'For your Postfix server' %}
            </a>
        </li>
        <li role="presentation">
            <a href="#tabs-2" role="tab" aria-control="tab2" data-toggle="tab">
                {% trans 'For your Exim server' %}
            </a>
        </li>
    </ul>
</div>

<div id="tabContent" class="tab-content">
    <div class="tab-pane fade in active" id="tabs-1" span style="height:125px;">
        <div class="col-md-12">
            {% include "mail/postfix_prep.html" %}
        </div>
    </div>

    <div class="tab-pane fade" id="tabs-2" span style="height:125px;">
        <div class="col-md-12">
            {% include "mail/exim_prep.html" %}
        </div>
    </div>
</div>
{% endblock contentpane %}

