{% extends "base.html" %}
{% comment %}

    Copyright 2015-2016 GoodCrypto
    Last modified: 2016-02-04

{% endcomment %}
{% load i18n custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="metadata">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="A list of domains ready to protect metadata.">
  {% endblock meta_description %}

  {% block titlevar %}Domains Ready to Protect Metadata{% endblock %}

{% block contentpane %}

    {% include "snippets/secure_button.html" %}

    <div class="row">
        <h3>Domains Ready to Protect Metadata</h3>
    </div>

    <div class="row">
        <p>&nbsp;</p>
        <p class="dropcap">
        {% if encrypt_metadata %}
            {% if require_key_verified %}
                All messages to email addresses that use any of the following domains that
                have been verified will automatically have the content plus the metadata protected.
            {% else %}
                All messages to email addresses that use any of the following domains
                will automatically have the content plus the metadata protected.
            {% endif %}
        {% else %}
            {% if require_key_verified %}
                Currently your mail administrator has disabled protecting your metadata. When it is
                re-enabled, the following domains that have been verified are ready to protect metadata.
            {% else %}
                Currently your mail administrator has disabled protecting your metadata. When it is
                re-enabled, the following domains are ready to protect metadata.
            {% endif %}
        {% endif %}
        </p>
    </div>

    <div class="col-md-12 col-xm-6">
        <div class="row">&nbsp;</div>
        <div class="table-responsive">
            <table class="table table-responsive">
                <tr>
                    <th>
                        {% trans 'Domain' %}
                    </th>
                    <th>
                        <center>
                            {% trans 'Verified' %}
                        </center>
                    </th>
                    <th>
                        {% trans 'Fingerprint' %}
                    </th>
                </tr>

                {% for domain, fingerprint, verified in metadata_list %}
                    <tr>
                        <td> {{ domain }} </td>
                        <td>
                            <center>
                            {% if verified %}
                                <abbr title="Key verified and ready to protect metadata.">
                                    <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                                </abbr>
                            {% else %}
                                {% if require_key_verified %}
                                    <abbr title="Key cannot be used to protect metadata until it's verified. Contact your mail administrator.">
                                        <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                                    </abbr>
                                {% else %}
                                    <abbr title="Key not verified, but it can be used to protect metadata. We strongly recommend the key be verified before use.">
                                        <img alt="{% trans 'No*' %}" src="/static/images/general/warning_mark_small.png">
                                    </abbr>
                                {% endif %}
                            {% endif %}
                            </center>
                        </td>
                        <td> {{ fingerprint }} </td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div>
            <p>&nbsp;</p>
            <p>
            </p>
        </div>
    </div>
{% endblock contentpane %}

