{% comment %}

    Copyright 2016 GoodCrypto
    Last modified: 2016-02-14

{% endcomment %}
{% load i18n bootstrap custom %}

    <div class="row">&nbsp;</div>

    <form method="POST" action="/mail/prep_mail_server/" class="form-horizontal" role="postfix_form">{% csrf_token %}

        <div class="form-group">
            <div class=" control-label col-sm-2 col-lg-2 ">&nbsp;</div>
            <div class=" col-sm-10 col-lg-10 ">
                <strong>Copy and paste the content from your mail server's postfix configuration files.</strong>
            </div>
        </div>

        {% if error_message %}
        <div class="form-group">
            <div class=" control-label col-sm-2 col-lg-2 ">&nbsp;</div>
            <div class=" col-sm-10 col-lg-10 ">
                <font color="red">{{ error_message }}</font>
            </div>
        </div>
        {% endif %}

        {{ postfix_form|bootstrap_horizontal }}
        <div class="form-group">
            <div class=" control-label col-sm-2 col-lg-2 ">&nbsp;</div>
            <div class=" col-sm-10 col-lg-10 ">
                <input class="btn btn-primary" type="submit" value="{% trans 'Generate changes' %}" name="submit">
            </div>
        </div>
    </form>

    <script type="text/javascript">
        var serverInput = $('#id_goodcrypto_private_server_ip');

        // Multiply by 2 to ensure the cursor always ends up at the end;
        // Opera sometimes sees a carriage return as 2 characters.
        var strLength = serverInput.val().length * 2;

        serverInput.focus();
        serverInput[0].setSelectionRange(strLength, strLength);

    </script>

