{% extends "base.html" %}
{% comment %}

    Copyright 2015-2016 GoodCrypto
    Last modified: 2016-01-24

{% endcomment %}
{% load i18n custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="mail protection options">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="Protection options for your messages.">
  {% endblock meta_description %}

  {% block titlevar %}Mail Protection{% endblock %}

{% block contentpane %}

    {% include "snippets/secure_button.html" %}

    <div class="row">
        <h3>Mail Protection</h3>
    </div>

    <div class="col-md-12 col-xm-6">
        <div class="row"><p>These global options are set by your administrator.</p></div>
        <div class="row">&nbsp;</div>
        <div class="table-responsive">
            <table class="table table-responsive">
                <tr>
                    <th colspan="3">
                        <p>&nbsp;</p>
                        {% trans 'Metadata & Traffic Analysis Protection' %}
                        <p>&nbsp;</p>
                    </th>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Protect metadata' %} </td>
                    <td>
                        {% if encrypt_metadata %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Stop traffic analysis' %} </td>
                    <td>
                        {% if bundle_and_pad %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th colspan="3">
                        <p>&nbsp;</p>
                        {% trans 'Tighter security' %}
                        <p>&nbsp;</p>
                    </th>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Require outbound encryption' %} </td>
                    <td>
                        {% if require_outbound_encryption %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Require verify keys' %} </td>
                    <td>
                        {% if require_key_verified %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Filter html' %} </td>
                    <td>
                        {% if filter_html %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th colspan="3">
                        <p>&nbsp;</p>
                        {% trans 'Signatures' %}
                        <p>&nbsp;</p>
                    </th>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Clear sign messages' %} </td>
                    <td>
                        {% if clear_sign %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td width="10%"> &nbsp; </td>
                    <td width="25%"> {% trans 'Add DKIM signature' %} </td>
                    <td>
                        {% if add_dkim_sig %}
                            <img alt="{% trans 'Yes' %}" src="/static/images/general/check_mark_small.png">
                        {% else %}
                            <img alt="{% trans 'No' %}" src="/static/images/general/error_mark_small.png">
                        {% endif %}
                    </td>
                </tr>
            </table>
        </div>
        <p>
        If you are the administrator, then you can
        <a href="/admin/mail/options/">change the options</a> after signing in.
        </p>
    </div>
{% endblock contentpane %}

