{% extends "base.html" %}
{% comment %}
    Copyright 2015 GoodCrypto
    Last modified: 2015-03-17
{% endcomment %}
{% load i18n custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="fingerprint">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="View the fingerprint for a user.">
  {% endblock meta_description %}
  
  {% block titlevar %}{{ page_title }}{% endblock %}

{% block contentpane %}

    <div class="row">
        <h2>{{ page_title }}</h2> 
    </div>
    
    <div class="row">&nbsp;</div>
    
    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2 " for="fingerprint_label">{% trans 'Fingerprint' %}</label>
            <div class=" col-sm-10 col-lg-10 ">
                {{ fingerprint }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2 " for="verified_label">{% trans 'Use key to encrypt?' %}</label>
            <div class=" col-sm-10 col-lg-10 ">
                {{ active }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-2 col-lg-2 " for="verified_label">{% trans 'Verified?' %}</label>
            <div class=" col-sm-10 col-lg-10 ">
                {{ verified }}
            </div>
        </div>
    </div>
{% endblock contentpane %}

