{% extends "base.html" %}
{% comment %}
    Copyright 2015-2016 GoodCrypto
    Last modified: 2016-11-07
{% endcomment %}
{% load i18n custom %}

  {% block meta_keywords %}
  <meta name="Keywords" content="fingerprint, key id">
  {% endblock meta_keywords %}
  {% block meta_description %}
  <meta name="Description" content="View the fingerprint for a user's key.">
  {% endblock meta_description %}

  {% block titlevar %}{{ page_title }}{% endblock %}

{% block contentpane %}

    <div class="row">
        <h2>{{ page_title }}</h2>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-3 col-lg-3" for="fingerprint_label">{% trans 'Fingerprint' %}</label>
            <div class=" col-sm-9 col-lg-9 ">
                {{ fingerprint }}
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-3 col-lg-3" for="verified_label">{% trans 'Uses encryption' %}</label>
            <div class=" col-sm-9 col-lg-9 ">
                {% if active %}
                    <p><img alt="Yes" src="/static/images/general/check_mark_small.png"></p>
                {% else %}
                    <p><img alt="No" src="/static/images/general/error_mark_small.png"></p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-3 col-lg-3" for="verified_label">{% trans 'Requires verification' %}</label>
            <div class=" col-sm-9 col-lg-9 ">
                {% if requires %}
                    <p><img alt="Yes" src="/static/images/general/check_mark_small.png"> &nbsp;&nbsp; {% trans 'The key must be verified before it can be used.' %}</p>
                {% else %}
                    <p><img alt="No" src="/static/images/general/error_mark_small.png"> &nbsp;&nbsp; {% trans 'The key will be used even if it has not been verified.' %}</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row">&nbsp;</div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-sm-3 col-lg-3" for="verified_label">{% trans 'Verified?' %}</label>
            <div class=" col-sm-9 col-lg-9 ">
                {% if verified %}
                    <p><img alt="Yes" src="/static/images/general/check_mark_small.png"></p>
                {% else %}
                    <p><img alt="No" src="/static/images/general/error_mark_small.png"></p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock contentpane %}

