{% extends "mail/verified.html" %}
{% comment %}

    Copyright 2015-2016 GoodCrypto
    Last modified: 2016-01-22

{% endcomment %}
{% load i18n%}

{% block titlevar %}{{ subheadline }}{% endblock %}

            {% block main_headline %}
                {% if main_headline %}
                    {{ main_headline|safe }}
                {% endif %}
            {% endblock main_headline %}

            {% block subheadline %}
                {% if subheadline %}
                    {{ subheadline }}
                {% endif %}
            {% endblock subheadline %}

                        {% block email_header %}
                        <th scope="col">
                           <div class="text">
                                <a href="#To">To</a>
                            </div>
                           <div class="clear"></div>
                        </th>
                        {% endblock email_header %}

                {% block no_results %}
                    {% blocktrans %}
                        Your GoodCrypto private server has not encrypted any messages for you, yet.
                    {% endblocktrans %}
                {% endblock no_results %}

